In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("The Wild Bunch (1969).csv")

In [3]:
def convert_seconds(seconds):
    hours = int(seconds // 3600)
    minutes = int((seconds % 3600) // 60)
    remaining_seconds = int(seconds % 60 ) # Keep decimal precision if needed

    return f"{hours:02}:{minutes:02}:{remaining_seconds:06.3f}"  

frame_rate = 25

In [4]:
df["Start Time"] = df["Start"].apply(lambda x : x/frame_rate)

In [7]:
df["Start Time"] = df["Start Time"].apply(convert_seconds)

In [8]:
df

       Start     End    Start Time
0          0     877  00:00:00.000
1        878    1597  00:00:35.000
2       1598    2152  00:01:03.000
3       2153    2396  00:01:26.000
4       2397    2524  00:01:35.000
...      ...     ...           ...
1818  510255  510566  05:40:10.000
1819  510567  510934  05:40:22.000
1820  510935  512354  05:40:37.000
1821  512355  512451  05:41:34.000
1822  512452  512606  05:41:38.000

[1823 rows x 3 columns]