In [1]:
import pandas as pd

In [2]:
!pwd

/workspace

In [3]:
df_alton = pd.read_csv("./Shot_Detection/First Blood (1982) -004.csv")
df_tico = pd. read_csv("./Shot_Detection/movies_to_segment/First Blood (1982) - Tico Romao.csv")

In [4]:
df_alton

       Start Time      End Time
0    00:00:00.000  00:00:19.436
1    00:00:19.436  00:01:21.331
2    00:01:21.331  00:01:25.711
3    00:01:25.711  00:02:07.711
4    00:02:07.711  00:02:21.808
..            ...           ...
824  01:28:30.514  01:28:35.810
825  01:28:35.810  01:28:41.775
826  01:28:41.775  01:29:11.846
827  01:29:11.846  01:29:48.883
828  01:29:48.883  01:33:11.544

[829 rows x 2 columns]

In [5]:
df_tico = df_tico[["Start","End"]]

In [6]:
df_tico

       Start       End
0   00:01:26  00:02:08
1   00:04:13  00:04:20
2   00:04:19  00:04:45
3   00:05:01  00:09:55
4   00:11:29  00:12:48
5   00:12:48  00:13:52
6   00:13:52  00:15:03
7   00:15:10  00:22:08
8   00:22:08  00:22:17
9   00:23:21  00:30:21
10  00:31:47  00:32:13
11  00:33:31  00:34:04
12  00:34:15  00:42:03
13  00:42:13  00:43:03
14  00:46:41  00:47:05
15  00:53:56  00:58:13
16  00:58:23  00:59:17
17  01:03:11  01:03:17
18  01:04:54  01:05:16
19  01:08:28  01:08:58
20  01:09:25  01:30:06

In [7]:
df_tico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Start   21 non-null     object
 1   End     21 non-null     object
dtypes: object(2)
memory usage: 468.0+ bytes

In [8]:
df_alton.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Start Time  829 non-null    object
 1   End Time    829 non-null    object
dtypes: object(2)
memory usage: 13.1+ KB

In [9]:
df_alton["Start Time"] = pd.to_timedelta(df_alton["Start Time"]).dt.ceil('s')

In [10]:
df_alton["End Time"] = pd.to_timedelta(df_alton["End Time"]).dt.ceil('s')

In [11]:
df_alton.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Start Time  829 non-null    timedelta64[ns]
 1   End Time    829 non-null    timedelta64[ns]
dtypes: timedelta64[ns](2)
memory usage: 13.1 KB

In [12]:
df_tico["Start"] = pd.to_timedelta(df_tico["Start"]).dt.floor('s')

In [13]:
df_tico["End"] = pd.to_timedelta(df_tico["End"]).dt.floor('s')

In [14]:
merged_df = pd.merge(df_alton, df_tico, left_on='Start Time', right_on='Start')

In [15]:
merged_df

        Start Time        End Time           Start             End
0  0 days 00:01:26 0 days 00:02:08 0 days 00:01:26 0 days 00:02:08
1  0 days 00:04:13 0 days 00:04:46 0 days 00:04:13 0 days 00:04:20
2  0 days 00:05:01 0 days 00:05:29 0 days 00:05:01 0 days 00:09:55
3  0 days 00:11:29 0 days 00:11:30 0 days 00:11:29 0 days 00:12:48
4  0 days 00:12:48 0 days 00:13:53 0 days 00:12:48 0 days 00:13:52
5  0 days 00:15:10 0 days 00:15:19 0 days 00:15:10 0 days 00:22:08
6  0 days 00:22:08 0 days 00:22:17 0 days 00:22:08 0 days 00:22:17
7  0 days 00:23:21 0 days 00:23:25 0 days 00:23:21 0 days 00:30:21
8  0 days 00:31:47 0 days 00:31:52 0 days 00:31:47 0 days 00:32:13
9  0 days 00:33:31 0 days 00:33:35 0 days 00:33:31 0 days 00:34:04
10 0 days 00:46:41 0 days 00:46:47 0 days 00:46:41 0 days 00:47:05
11 0 days 00:58:23 0 days 00:58:35 0 days 00:58:23 0 days 00:59:17
12 0 days 01:04:54 0 days 01:05:03 0 days 01:04:54 0 days 01:05:16
13 0 days 01:08:28 0 days 01:08:49 0 days 01:08:28 0 days 01:08:58

In [18]:
merged_df_1 = pd.merge(df_alton,df_tico, left_on="End Time", right_on="End")

In [19]:
merged_df_1

       Start Time        End Time           Start             End
0 0 days 00:01:26 0 days 00:02:08 0 days 00:01:26 0 days 00:02:08
1 0 days 00:12:39 0 days 00:12:48 0 days 00:11:29 0 days 00:12:48
2 0 days 00:14:55 0 days 00:15:03 0 days 00:13:52 0 days 00:15:03
3 0 days 00:21:25 0 days 00:22:08 0 days 00:15:10 0 days 00:22:08
4 0 days 00:22:08 0 days 00:22:17 0 days 00:22:08 0 days 00:22:17
5 0 days 00:33:44 0 days 00:34:04 0 days 00:33:31 0 days 00:34:04
6 0 days 00:46:47 0 days 00:47:05 0 days 00:46:41 0 days 00:47:05
7 0 days 01:08:49 0 days 01:08:58 0 days 01:08:28 0 days 01:08:58

In [20]:
merged_df_3 = pd.merge(df_alton, df_tico, 
                     left_on=['Start Time', 'End Time'], 
                     right_on=['Start', 'End'], 
                     how='inner')

In [21]:
merged_df_3

       Start Time        End Time           Start             End
0 0 days 00:01:26 0 days 00:02:08 0 days 00:01:26 0 days 00:02:08
1 0 days 00:22:08 0 days 00:22:17 0 days 00:22:08 0 days 00:22:17

In [25]:
merged_df.to_csv("./Start_Time Comparisons.csv")

In [26]:
merged_df_1.to_csv("./End_Time Comparisons.csv")

In [27]:
merged_df_3.to_csv("Start and End Time Comparisons.csv")